# KiCad Backups / Autosaves / Temp
*~
*.bak
*.tmp
*.swp
_autosave-*
*-backups/
*.kicad_sch-bak
*.kicad_pcb-bak

# OS clutter
.DS_Store

# KiCad cache
fp-info-cache
**/fp-info-cache

# KiCad lock/autosave
*.lck
~_autosave-*

# KiCad lock / temp
*.lck

# KiCad local project settings (machine/user specific)
*.kicad_prl

# macOS junk
.DS_Store

